@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 195 100% 50%;
    --primary-foreground: 224 71.4% 4.1%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220 26.3% 10.8%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 195 100% 50%;
    --accent-foreground: 224 71.4% 4.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 195 100% 50%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 225 47% 7%;
    --foreground: 0 0% 98%;
    --card: 225 40% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 225 47% 7%;
    --popover-foreground: 0 0% 98%;
    --primary: 195 100% 50%;
    --primary-foreground: 225 47% 7%;
    --secondary: 225 40% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 225 40% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 195 100% 50%;
    --accent-foreground: 225 47% 7%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 195 100% 25%;
    --input: 195 100% 15%;
    --ring: 195 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
